.backBtn {
  position: fixed;
  bottom: 0;
  right: 0;

  .hidden {
    display: none;
  }
}
.backBtn {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-end;
  padding-right: 8px;

  img {
    width: 60px;
  }

  .fabBtn {
    .hidden {
      display: none;
    }
  }
}
