@keyframes load {
  to {
    transform: rotate(360deg);
  }
}

.box-load {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c1c1c1;
  overflow-y: hidden;

  .pre {
    width: 80px;
    height: 80px;
    background-image: url("https://servidor-estaticos-kappa-one.vercel.app/fighter_jet_top_view.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: load 2s infinite linear;
  }
}

.load-content {
  display: none;
}
