@use "variables";
@use "hero";
@use "header";
@use "pilots";
@use "fabBtn";
@use "footer";
@use "resume";

@font-face {
  font-family: Vandal;
  src: url(../../assets/fonts/Legal\ Vandal\ Stencil.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Migontama;
  src: url(../../assets/fonts/Migontama-Regular.otf);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Migontama;
  scroll-behavior: smooth;
  color: variables.$mainTextColor;
}

body {
  font-family: Migontama, sans-serif;
  background-color: variables.$backgroundColor;
}

p,
li {
  color: variables.$mainTextColor;
}

.text--small {
  font-size: 14px;
}
.text--normal {
  font-size: 16px;
}
.text--big {
  font-size: 20px;
}

.title--small {
  font-size: 24px;
  font-family: Vandal;
}
.title--normal {
  font-size: 36px;
  font-family: Vandal;
}
.title--big {
  font-size: 60px;
  font-family: Vandal;
}

.btn {
  text-align: center;
  p {
    margin: 0 auto;
    width: 150px;
    padding: 8px;
    border: 2px solid variables.$mainTextColor;
    border-radius: 4px;

    &:hover {
      background-color: variables.$headerColor;
      color: variables.$primaryButtonBackgroundColor;
      border-color: variables.$primaryButtonBackgroundColor;
    }
  }
}
